# Ne pas sync les résutats dans le répo
resultats/
.claude
.vscode

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class
.pyc

.python-version

# UV
uv.lock

# Environments
.env
.envrc
.venv

# Ruff:
.ruff_cache/

# Cython debug symbols
cython_debug/
